
/* background */
    .background{
        z-index:-1;
        width:100% ;
        height: 28vh;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        background-color: #1C2D35;
        align-items: center;
        justify-content: center;
    }
    @media (max-width:600px) {

       .background{
        background-attachment: unset;
       }
    }
    /* Background image base on page */
    
        .main{
            background-image: url(../images/header-cover/main.jpg);
        }
        .give{
            background-image: url(../images/header-cover/give.jpg);
        }
        .worship{
            background-image: url(../images/header-cover/worship.jpg);
        }
        .about{
            background-image: url(../images/header-cover/about.jpg);
        }

    /* Background image base on page */
    .background-content{
        padding: 4rem 1rem;
    }
    .background h1, h3 {
        color: white;
        text-align: center;
    }

/* background */

/* other-info */
    .other-info{
        display: flex;
        flex-direction: column;
    }
    div .other-info{
        padding:0px;
    }
    .other-info div{
        align-items: center;
        justify-content: center;
        /* max-width: 800px; */
    }
    .other-info p{
        text-align: center; 
    }
/* other-info */

